<div fxLayout="row">
  <div class="table" [fxFlex]="tableFlex">
    <table>
      <tr>
        <th>Adherence</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Phone</th>
      </tr>
      <tr *ngFor="let patient of (patients$ | async)" (click)="toggle()">
        <!-- <td><button mat-fab [color]="getColor(patient.adherence)">{{ patient.adherence }}</button></td> -->
        <td><button mat-fab [color]="getColor(patient.adherence)">{{ patient.adherence }}</button></td>
        <td>{{ patient.lname}}</td>
        <td>{{ patient.fname }}</td>
        <td>{{ patient.phoneContact }}</td>
      </tr>
    </table>
  </div>
  <div class="detail" [fxFlex]="detailFlex" *ngIf="detailFlex">Detail</div>
</div>
