<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="false">
    <mat-list>
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button *ngIf="false" mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
